.background {
  width: 40%;
  height: 40vh;
  background-color: gray;
  background-size: cover;
  color: white;
  text-align: center;

}

.background2 {
  width: 40%;
  height: 40vh;
  background-size: cover;
  text-align: center;
}

.question_font {
  font-family: Comfortaa, monospace;
  font-size: 1.25em;
  color: lawngreen;
}
.text-area{
  resize: none;
}

.submit_button {
  width: 40%;
  height: 40vh;
}
